name: Lint and Pre-commit Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-pre-commit:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v5
        - name: Install uv and set the python version
          uses: astral-sh/setup-uv@v7
          with:
            python-version: "3.12"
            version: "0.9.21"

        - name: Python version
          run: python -V

        - name: Uv version
          run: uv --version

        - name: Install just
          uses: extractions/setup-just@v3

        - name: Install dependencies
          run: just install

        - name: CI
          run: just ci
