name: Tests and Coverage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Install the latest version of uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          version: "0.9.21"

      - name: Python version
        run: python -V

      - name: Uv version
        run: uv --version

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Install dependencies
        run: just install

      - name: Run tests with coverage
        run: just test

      - name: Generate coverage report
        run: uv run coverage xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          slug: sesav/gitlab-depcheck
          fail_ci_if_error: false
